<span><strong>Address:</strong><%= business_account.address %></span>
<span><strong>City &amp; Postal:</strong><%= business_account.city %>, <%= business_account.postal_code%></span>
<span><strong>Region:</strong><%= business_account.region %> </span>
<span><strong>Country:</strong> <%= country_name( business_account.country) %></span>