<div class="modal-dialog">
  <div class="modal-content">  
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Change Password</h4>
       <div class="alert alert-warning" style="display:none;" id="password_message">
                    
        </div>
    </div>

<%= simple_form_for(resource, :as => resource_name, remote: true, :url => registration_path(resource_name)) do |f| %>
    <% if resource.errors.present? %>
    <div class="alert alert-error">Check Errors below</div>
    <% end %>
  
  <div class="form-group">
    <div class="form-group">
      <%= f.input :password, :placeholder=>"Password", :required=>"required" , :input_html=>{:class=>"form-control"}%>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group"><%= f.input :password_confirmation, :placeholder=>"Confirm Password", :required=>"required", :input_html=>{:class=>"form-control"} %></div>
  </div>
  <div class="form-group">
    <div class="form-group"><%= f.input :current_password, :placeholder=>"Password", :required=>"required" , :input_html=>{:class=>"form-control"} %><br> (we need your current password to confirm your changes)</div>
  </div>
  
  <div><br><%= f.submit "Update", :validate=>false, :class=>"btn btn-primary" %></div>
<% end %>
  </div>
</div>

