<h2>Edit</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if resource.errors.present? %>
  <div class="alert alert-error">Check Errors below</div>
  <% end %>
  
  <div>
    <%= f.input :language, :as=>"select", :collection=>["English"], :autofocus => true, :include_blank=>false %>
  </div>
    
  <h4>Your Details</h4>
  <div class="row-fluid">
    <div class="span4"><%= f.input :first_name, :placeholder=>"First Name" %></div>
    <div class="span4"><%= f.input :middle_name, :placeholder=>"Middle Name" %></div>
    <div class="span4"><%= f.input :last_name, :placeholder=>"Last Name" %></div>
  </div>
  
  <div class="row-fluid">
    <div class="span4"><%= f.input :gender, :as=>"select", :collection=>[["Male","male"],["Female","female"]], :prompt=>"Gender" %></div>
    <div class="span4"><%= f.input :date_of_birth, :as=>"string", :placeholder=>"Date Of Birth" %></div>
    <div class="span4"><%= f.input :nationality, :as=>"select", :collection=>@kaenko_countries, :prompt=>"Nationality" %></div>
  </div>  
  
  <% if resource.account.roleable_type == "Business" %>
  <div class="row-fluid">
    <div class="span4"><%= f.input :representative_position, :placeholder=>"Representative Position" %></div>
  </div>  
  <% end %>
  
  <h4>Your Address</h4>
  <div class="row-fluid">
    <div class="span4">
      <%= f.input :country, :as=>"select", :collection=>@kaenko_countries, :prompt=>"Country" %>
      <%= f.input :postal_code, :placeholder=>"Postal Code" %>
    </div>
    <div class="span4">
      <%= f.input :state, :as=>"select", :collection=>[], :include_blank=>true, :prompt=>"State/Region/District" %>
      <%= f.input :city, :placeholder=>"City" %>
    </div>
    <div class="span4"><%= f.input :address, :placeholder=>"Address" %></div>
  </div>
  
  <h4>Your Contact</h4>
  <div class="row-fluid">
    <div class="span4"><%= f.input :phone, :placeholder=>"Phone" %></div>
    <div class="span4"><%= f.input :username, :placeholder=>"Username", :required=>"required" %></div>
  </div>
  
  <h4></h4>
  <div class="row-fluid">
    <div class="span12"><%= f.input :current_password, :placeholder=>"Password", :required=>"required" %><br> (we need your current password to confirm your changes)</div>
  </div>
  
  <div><br><%= f.submit "Update", :validate=>false %></div>
<% end %>

<script>

function get_state(cid,sid)
{
  $.ajax({
    url: '<%= list_states_url %>',
    type: 'get',
    data: {
      country_2_code: cid
    },
    success: function(response) {
      $("#user_state").html('');
      $.each(response, function() {
        if (sid == this[0])
          $("#user_state").append("<option value='" + this[0] + "' selected>" + this[1] + "</option>");
        else
          $("#user_state").append("<option value='" + this[0] + "'>" + this[1] + "</option>");
      });
      $("#user_state").show();
    },
    error: function(response) {
      window.console.log(response);
    }
  });
}

$("#user_country").change(function() {
  get_state($(this).val(),'')
});

<% if resource.country.present? %>
  get_state('<%=resource.country%>','<%=resource.state%>')
<% end %>

</script>
