
<p><%= image_tag attachments['user_image.png'].url%><br>Dear <%= @name %></p>
<p>
	You transaction of withdraw fund completed succefully </p>


<p>
	Transaction ID : <%= @transaction_id %>
</p>
<p>
	Withdraw Fund : <%= @amount %> <%= @currency %>
</p>

<p>For any query about this Request, contact support@kaenko.com</p>
