<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Edit Security</h4>
    </div>
   
    <div class="modal-body">
        <div class="form-group">
          <strong>Secret question :</strong>
          <span>
            <span id="secret_ques_text"><%= @user.user_security_question.try(:name)  %></span> 
            <span id="edit_secret_ques" style="display:none;">
              <%= select_tag :user_security_question_id, options_for_select(UserSecurityQuestion.all.collect{|sq| [sq.name, sq.id]}), :prompt=>"Security Question" , id: "secret_ques_list", 
                    style: "width:100px;"  %>
               <a href="javascript:void(0);" class="btn btn-sm btn-default"  id="cancel_secret_ques">Cancel</a>
            </span>

             <a href="javascript:void(0);" class="btn btn-default btn-edit btn-small" id="change_secret_ques"><i class="fa fa-pencil"></i></a>
            
          </span>
          <div>
            <strong>Secret answer :</strong>
            <span>
              <span id="secret_ans_text"><%= @user.secret_question_answer %></span> 
              <span id="edit_secret_ans" style="display:none;">
                <%= text_field_tag :secret_question_answer , @user.secret_question_answer  , id: "update_secret_text"%>
                <%= link_to "Update" , "javascript:void(0);" , class: "btn btn-default", 
                  id: "update_secret_ans"%>
                <%= link_to "Cancel", "javascript:void(0);", class: "btn btn-default" , 
                  id:"cancel_secret_ans" %>
              </span>
               <a href="javascript:void(0);" class="btn btn-default btn-edit btn-small" id="change_secret_ans"><i class="fa fa-pencil"></i></a>
            </span>
          </div>
          <div>
          <div>
            <strong>Pin:</strong>
            <span>
              <span id="security_pin_text">****</span> 
              <span id="edit_security_pin" style="display:none;">
                <%= password_field_tag :security_pin, "", maxlength: "4" %>
                <%= link_to "Update" , "javascript:void(0);" , class: "btn btn-default" , id: "update_security_pin"%>
                <%= link_to "Cancel", "javascript:void(0);", class: "btn btn-default" , 
                id:"cancel_security_pin" %>
              </span>
               <a href="javascript:void(0);" class="btn btn-default btn-edit btn-small" id="change_security_pin"><i class="fa fa-pencil"></i></a>
            </span>
          </div>
          <div>

            <strong>Password:</strong>
            <span>
              <span id="password_text">
                <span >********</span> 
               <a href="javascript:void(0);" class="btn btn-default btn-edit btn-small" id="change_password"><i class="fa fa-pencil"></i></a>
              </span>
            </span>
            <span id="edit_password" style="display:none;">
              <%=form_tag update_secret_user_path(@user), remote: true, style: "display:inline;", method: "put" do %>
                <span>
                	<%= password_field_tag "user[password]", "" , style: "height:22px;"  %>
                </span>
                <div>
                  <strong>Confirm Password:</strong>
                   <span>
                    <%= password_field_tag "user[password_confirmation]", "", style: "height:22px;" %>
                  </span>
                 <p style="display:none;"  id="security_error_msg"></p>
                  <span>
                    <%= submit_tag "Update" , class: "btn btn-default" %>
                    <%=link_to "Cancel", "javascript:void(0);", class: "btn btn-default" , id:"cancel_password" %>
                  </span>
                  
                </div>
              <% end %>
            </span>
          </div>
          <%admin = @account.users.admin_user.first %> 
          <%if current_user._account_type == "Business" && admin.id == current_user.id %>
            <strong>Ask My Pin for Pay-outs Over:</strong>
            <span>
              <span id="pay_out_over_text"><%= number_with_precision(@user.pay_out_over, precision: 2 || 0) %><strong>&nbsp;&nbsp;<%= @user.account.kaenko_currency.try(:unit) %></strong> (or equivalent) </span> 
              <span id="edit_pay_out_over" style="display:none;">
                <%= text_field_tag :pay_out_over, 
                number_with_precision(@user.pay_out_over, precision: 2 || 0) %>
                <%= link_to "Update" , "javascript:void(0);" , class: "btn btn-default" , id: "update_pay_out_over" %>
                  <%= link_to "Cancel", "javascript:void(0);", class: "btn btn-default" , 
                  id:"cancel_pay_out_over" %>
              </span>
               <a href="javascript:void(0);" class="btn btn-default btn-edit btn-small" id="change_pay_out_over"><i class="fa fa-pencil"></i></a>
            </span>
          <% end %>
        </div>
        <br>
        <div class="row-fluid">
          <div class="span3 offset1">&nbsp;</div>
          <div class="span8"></div>
        </div>
    </div>
   
  </div>
</div>

<%= javascript_tag do %>
$(function() {
  $("#change_password").click(function(){
    $("#edit_password").show();
    $("#password_text").hide();
  })
  $("#cancel_password").click(function(){
    $("#edit_password").hide();
    $("#security_error_msg").hide();
    $("#password_text").show();
    
  })
  $("#change_secret_ques").click(function(){
    $(this).hide();
    $("#edit_secret_ques").show();
    $("#secret_ques_text").hide();
    $("#secret_ques_list").change(function(){
      $.ajax({
        url: "<%= update_secret_ques_user_path(current_user) %>",
        method: "put",
        data: "user[user_security_question_id]="+$(this).val() ,
        dataType: "script"
      })
    })
  })
  $("#cancel_secret_ques").click(function(){
    $("#business_country_text").show();
    $("#secret_ques_text").show();
    $("#edit_secret_ques").hide();
    $("#change_secret_ques").show();

  })
  $("#change_secret_ans").click(function(){
    $(this).hide();
    $("#edit_secret_ans").show();
    $("#secret_ans_text").hide();
    $("#cancel_secret_ans").show();
    $("#update_secret_ans").click(function(){
      $.ajax({
        url: "<%= update_secret_ans_user_path(current_user) %>",
        method: "put",
        data: "user[secret_question_answer]="+$("#update_secret_text").val() ,
        dataType: "script"
      })
    })
  })
  $("#cancel_secret_ans").click(function(){
    $("#secret_ans_text").show();
    $("#change_secret_ans").show();
    $("#edit_secret_ans").hide();

  })
  $("#change_security_pin").click(function(){
    $(this).hide();
    $("#edit_security_pin").show();
    $("#security_pin_text").hide();
    $("#cancel_security_pin").show();
    $("#update_security_pin").click(function(){
      $.ajax({
        url: "<%= update_secret_pin_user_path(current_user) %>",
        method: "put",
        data: "user[security_pin]="+$("#security_pin").val() ,
        dataType: "script"
      })
    })
  })
  $("#cancel_security_pin").click(function(){
    $("#security_pin_text").show();
    $("#change_security_pin").show();
    $("#edit_security_pin").hide();

  })
  $("#change_pay_out_over").click(function(){
    $(this).hide();
    $("#edit_pay_out_over").show();
    $("#pay_out_over_text").hide();
    $("#cancel_pay_out_over").show();
    $("#update_pay_out_over").click(function(){
      $.ajax({
        url: "<%= update_pay_out_over_user_path(current_user) %>",
        method: "put",
        data: "user[pay_out_over]="+$("#pay_out_over").val() ,
        dataType: "script"
      })
    })
  })
  $("#cancel_pay_out_over").click(function(){
    $("#pay_out_over_text").show();
    $("#change_pay_out_over").show();
    $("#edit_pay_out_over").hide();

  })
})
  

  
<% end %>

