<h2>Update account</h2>

<%= simple_form_for(@user,  :url => update_subuser_user_path(@user), method: :put ) do |f| %>
  <%if @user.errors.any? %>
    <div class="alert">
      <%@user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <h4></h4>
  <div class="row-fluid">
    <div class="span4"><%= f.input :first_name, :placeholder=>"First Name" %></div>
    <div class="span4"><%= f.input :middle_name, :placeholder=>"Middle Name" %></div>
    <div class="span4"><%= f.input :last_name, :placeholder=>"Last Name" %></div>
  </div>
  
  <div class="row-fluid">
    <div class="span4"><%= f.input :gender, :as=>"select", :collection=>[["Male","male"],["Female","female"]], :prompt=>"Gender" %></div>
    <div class="span4"><%= f.input :date_of_birth, :as=>"string", :placeholder=>"Date Of Birth" %></div>
    <div class="span4"><%= f.input :nationality, :label => "I leave in", :as=>"select", :collection=>@kaenko_countries, :prompt=>"Nationality" %></div>
  </div>  
  
  <h4></h4>
  <div class="row-fluid">
    <div class="span4">
      <%= f.input :country, :as=>"select", :label => "I am from", :collection=>@kaenko_countries, :prompt=>"Country" %>
    </div>
    <div class="span4">
      <%= f.input :pin, :placeholder=>"access code", :required=>"required" %>
    </div>

    
  </div>
  
  <h4></h4>
  
  <div class="row-fluid">
    
    <div class="span4"><%= f.input :password, :placeholder=>"Password", :required=>"required" %></div>
    <div class="span4"><%= f.input :password_confirmation, :placeholder=>"Confirm Password", :required=>"required" %></div>
  </div>
  <div class="row-fluid" style="margin-top:15px;">
    <div class="span4">
      <p><%= show_simple_captcha %>
      <% if @captcha_error.present? %>
        <span class="error"><%=@captcha_error%></span>
      <% end %></p>
    </div>
  </div>
  
  <div><%= f.submit "Update", :validate=>false %></div>
<% end %>


<script>

$(function() {
  $( "#user_date_of_birth" ).datepicker({
    defaultDate: "+1D",
    maxDate:'-18Y',
    dateFormat: 'yy-m-d',
    changeMonth: true,
    changeYear: true,
    showMonthAfterYear: true,
    yearRange: "-100:+1"
  });
});
</script>
