<div class="row-fluid">
	<div>
		Overview:
	</div>
	<div>
		<strong>Current Balance : </strong><%= number_with_precision(Earning.current_balance, :precision => 2 || 0) %> USD
	</div>
	<div>
		<strong>Last withdrawls : </strong> <%= @last_withdrawal.amount %>&nbsp;<%= @last_withdrawal.kaenko_currency.unit %>&nbsp;<%= @last_withdrawal.created_at.strftime("%d/%m/%Y") %> 
	</div>
	<div>
		<strong> Number of Withdrawls : </strong> <%= @earnings.size %>
	</div>
	<div>
		<strong>Total withdrew since (<%= Earning.first.created_at.strftime("%d/%m/%y") %>) : </strong><%= number_with_precision(Earning.current_balance, :precision => 2 || 0) %> USD
	</div>
  <%= form_tag earnings_path, :method => :get  do %>
			<span>From</span>
			<div class="input-group">
				<%=text_field_tag :from_date , params[:from_date] , class: "form-picker control-date date-picker" , :"data-date-format" => "dd-mm-yyyy" %>
				<span class="input-group-addon">
					<i class="icon-calendar bigger-110"></i>
				</span>
			</div>
			<span>To</span>
			<div class="input-group">
				<%= text_field_tag :to_date, params[:to_date], class: "form-picker control-date date-picker", :"data-date-format" => "dd-mm-yyyy" %>
				<span class="input-group-addon">
					<i class="icon-calendar bigger-110"></i>
				</span>
			</div>
			<div>
				<%=	submit_tag :filter %>
			</div>
  <% end %>
	
  <h3 style="display:none;" class="header smaller lighter blue">Referrals</h3>
  <div class="table-header">
    Earning Details
  </div>
	
  <table id="table_report" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <!--
        <th class="center">
          <label>
            <input type="checkbox" />
            <span class="lbl"></span>
          </label>
        </th>
        -->
        
        <th class="hidden-phone">
          <i class="icon-time hidden-phone"></i>
          	Date
        </th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Type of Transaction</th>
        <th>Fee earned</th>
        <th>Batch Id</th>
        <th>Note</th>
        
        <!--<th>Action</th> -->
      </tr>
    </thead>

    <tbody>
      <% @earnings.each do |earning| %>
        <tr>
        <!--
          <td class="center">
            <label>
              <input type="checkbox" />
              <span class="lbl"></span>
            </label>
          </td>
         -->

          <td>
            <%= earning.created_at %>
          </td>
          <td><%= earning.kaenko_currency.unit %></td>
          <td><%= earning.amount %></td>
          <td><%= earning.transaction_type %></td>
          <td><%= earning.fee_earned_percent %> % + <%= earning.fee_earned_value %></td>
          <td><%= earning.batch_id %></td>
          <td><%= earning.note %></td>
          
         <!--
          <td class="td-actions">
            <div class="inline position-relative">
              <button data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                <i class="icon-cog icon-only bigger-110"></i>
              </button>

              <ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
                <li>
                  <a data-placement="left" title="" data-rel="tooltip" class="tooltip-success" href="#" data-original-title="Edit">
                    <span class="green">
                      <i class="icon-edit"></i>
                    </span>
                  </a>
                </li>

                <li>
                  <a data-placement="left" title="" data-rel="tooltip" class="tooltip-warning" href="#" data-original-title="Flag">
                    <span class="blue">
                      <i class="icon-flag"></i>
                    </span>
                  </a>
                </li>

                <li>
                  <a data-placement="left" title="" data-rel="tooltip" class="tooltip-error" href="#" data-original-title="Delete">
                    <span class="red">
                      <i class="icon-trash"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </td> -->
        </tr>

      <% end %>
      
    </tbody>
  </table> 
  <div class = "pull-right" style="padding-top:10px;">
  	<%#= link_to "New", new_earning_path, :class => 'btn btn-info' %>
  </div>
</div>

<% content_for :style do %>
		<link rel="stylesheet" href="/assets/admins/datepicker.css" />
<% end %>
<% content_for :script do %>
  <script src="/assets/admins/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="/assets/admins/jquery.dataTables.min.js"></script>
  <script src="/assets/admins/jquery.dataTables.bootstrap.js"></script>
  <script src="/assets/admins/date-time/bootstrap-datepicker.min.js"></script>
  <script>
  	$(function() {
  		$(".date-picker").datepicker();
  	})
  </script>
<% end %>

<% content_for :inlinescript do %>
  <script type="text/javascript">
    $(function() {
      var oTable1 = $('#table_report').dataTable( {
      "aoColumns": [
          { "bSortable": false },
          null, null, null, null, null,
        { "bSortable": false },
       
      ] } );
      $('table th input:checkbox').on('click' , function(){
        var that = this;
        $(this).closest('table').find('tr &gt; td:first-child input:checkbox')
        .each(function(){
          this.checked = that.checked;
          $(this).closest('tr').toggleClass('selected');
        });
          
      });
    
      $('[data-rel=tooltip]').tooltip();
    })
  </script>
<% end %>
