<div class="offset4">
<h2>Change Password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if resource.errors.present? %>
  <div class="alert alert-error">Check Errors below</div>
  <% end %>
  
  <div class="row-fluid">
    <div class="span4"><%= f.input :password, :placeholder=>"Password", :required=>"required" %></div>
  </div>
  <div class="row-fluid">
    <div class="span4"><%= f.input :password_confirmation, :placeholder=>"Confirm Password", :required=>"required" %></div>
  </div>
  <div class="row-fluid">
    <div class="span4"><%= f.input :current_password, :placeholder=>"Password", :required=>"required" %><br> (we need your current password to confirm your changes)</div>
  </div>
  
  <div><br><%= f.submit "Update", :validate=>false %></div>
<% end %>
</div>
