<div class="row-fluid">
	<div class="span4" style="text-align:center;">
		<%=image_tag("personal.png")%><br>
		<span>Personal Account</span><br>
		<%=link_to "Sign Up",  personal_sign_up_path %>
	</div>
	<div class="span4" style="text-align:center;">
		<%=image_tag("business.png")%><br>
		<span>Business Account</span><br>
		<%=link_to "Sign Up",  business_sign_up_path %>
	</div>
	<div class="span4" style="text-align:center;">
		<%=image_tag("premium.png")%><br>
		<span>Premium Account</span><br>
		<%=link_to "Sign Up",  premium_request_path %>
	</div>
</div>
