
<%= simple_form_for([@business]) do |f| %>
  <div>
    <%= f.input :country_of_incorporation, :as=>"select", :collection=>@kaenko_countries, :prompt=>"Country Of Incorporation", :selected=>(@business.present?) ? @business.country_of_incorporation : "", :input_html=>{:required=>"required"} %>
    <%=(@business_errors.present? and @business_errors[:country_of_incorporation].present?) ? "<span class='error'>#{@business_errors[:country_of_incorporation].first}</span>".html_safe() : ""%>
  </div>
  
  <h4>Business Details</h4>
  <div class="row-fluid">
    <div class="span4"><%= f.input :organization_name, :placeholder=>"Organization Name", :input_html=>{:value=>(@business.present?) ? @business.organization_name : ""} %><%=(@business_errors.present? and @business_errors[:organization_name].present?) ? "<span class='error'>#{@business_errors[:organization_name].first}</span>".html_safe() : ""%></div>
    <div class="span4"><%= f.input :organization_url, :placeholder=>"Organization Url", :input_html=>{:value=>(@business.present?) ? @business.organization_url : ""}  %><%=(@business_errors.present? and @business_errors[:organization_url].present?) ? "<span class='error'>#{@business_errors[:organization_url].first}</span>".html_safe() : ""%></div>
    <div class="span4"><%= f.input :legal_form, :placeholder=>"Legal Form", :input_html=>{:value=>(@business.present?) ? @business.legal_form : ""}  %><%=(@business_errors.present? and @business_errors[:legal_form].present?) ? "<span class='error'>#{@business_errors[:legal_form].first}</span>".html_safe() : ""%></div>
  </div>
  
  <div class="row-fluid">
    <div class="span4"><%= f.input :registration_number, :placeholder=>"Registration Number", :input_html=>{:value=>(@business.present?) ? @business.registration_number : ""}  %><%=(@business_errors.present? and @business_errors[:registration_number].present?) ? "<span class='error'>#{@business_errors[:registration_number].first}</span>".html_safe() : ""%></div>
    <div class="span4"><%= f.input :date_of_incorporation, :as=>"string", :placeholder=>"Date Of Incorporation", :input_html=>{ :readonly => true, :value=>(@business.present?) ? @business.date_of_incorporation : ""}  %><%=(@business_errors.present? and @business_errors[:date_of_incorporation].present?) ? "<span class='error'>#{@business_errors[:date_of_incorporation].first}</span>".html_safe() : ""%></div>
    <div class="span4"><%= f.input :industry, :placeholder=>"Industry", :input_html=>{:value=>(@business.present?) ? @business.industry : ""}  %><%=(@business_errors.present? and @business_errors[:industry].present?) ? "<span class='error'>#{@business_errors[:industry].first}</span>".html_safe() : ""%></div>
  </div>
  
  <h4>Registered Address</h4>
  <div class="row-fluid">
    <div class="span4">
      <%= f.input :country, :as=>"select", :collection=>@kaenko_countries, :prompt=>"Country", :selected=>(@business.present?) ? @business.country : ""  %><%=(@business_errors.present? and @business_errors[:country].present?) ? "<span class='error'>#{@business_errors[:country].first}</span>".html_safe() : ""%>
      <%= f.input :postal_code, :placeholder=>"Postal Code", :input_html=>{:value=>(@business.present?) ? @business.postal_code : ""}  %><%=(@business_errors.present? and @business_errors[:postal_code].present?) ? "<span class='error'>#{@business_errors[:postal_code].first}</span>".html_safe() : ""%>
    </div>
    <div class="span4">
      <%= f.input :state, :as=>"select", :collection=>[], :include_blank=>true, :prompt=>"State/Region/District" %><%=(@business_errors.present? and @business_errors[:state].present?) ? "<span class='error'>#{@business_errors[:state].first}</span>".html_safe() : ""%>
      <%= f.input :city, :placeholder=>"City", :input_html=>{:value=>(@business.present?) ? @business.city : ""}  %><%=(@business_errors.present? and @business_errors[:city].present?) ? "<span class='error'>#{@business_errors[:city].first}</span>".html_safe() : ""%>
    </div>
    <div class="span4"><%= f.input :address, :as=>"text", :placeholder=>"Address", :input_html=>{:value=>(@business.present?) ? @business.address : ""}  %><%=(@business_errors.present? and @business_errors[:address].present?) ? "<span class='error'>#{@business_errors[:address].first}</span>".html_safe() : ""%></div>
  </div>

  <div><br><%= f.submit :class => 'btn btn-info' %>
				<%= link_to :Canel, businesses_path, :class => 'btn' %></div>
<% end %>

<% content_for :script do %>
	<script src="/assets/admins/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="/assets/admins/date-time/bootstrap-datepicker.min.js"></script>
	<script>
		function get_state(cid,sid)
		{
		  $.ajax({
		    url: '<%= admin_list_states_url %>',
		    type: 'get',
		    data: {
		      country_2_code: cid
		    },
		    success: function(response) {
		      $("#business_state").html('');
		      $.each(response, function() {
		        if (sid == this[0])
		          $("#business_state").append("<option value='" + this[0] + "' selected>" + this[1] + "</option>");
		        else
		          $("#business_state").append("<option value='" + this[0] + "'>" + this[1] + "</option>");
		      });
		      $("#business_state").show();
		    },
		    error: function(response) {
		      window.console.log(response);
		    }
		  });
		}

		$("#business_country").change(function() {
		  get_state($(this).val(),'')
		});

		<% if @business.country.present? %>
		  get_state('<%=@business.country%>','<%=@business.state%>')
		<% end %>

		$(function() {
		  $( "#business_date_of_incorporation" ).datepicker({
		    defaultDate: "+1D",
		    maxDate:'-1D',
		    dateFormat: 'yy-m-d'
		  });
		});
	</script>
<% end %>
