<%post_account = @post.from_account %>
<article class="cardssocial" id="cardssocial<%= @post.id %>">
  <div class="panel panel-default">
    <div class="panel-heading dropdown" style="border:none!important;">
      <div class="user">
        <div class="user-avatar">
          <%= link_to (image_tag(post_account.display_image)), social_user_path(post_account.id), remote: true %> 
        </div>
        <b class="blue-hl"><%= post_account.display_name %></b> posted: 
        <% if  post_account.id == current_user.account.id %>
           <div class="social-date-sm"><%= @post.from_user.name %> <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="This Name is only visible for Users of this Account">[ ? ]</a> • <%= relative_time(@post.created_at) %></div>
        <% else %>
          <div class="social-date-sm"><%= relative_time(@post.created_at) %></div>
        <% end %>
        <div id = "private_msg<%=@post.id%>" class="social-date-sm"></div>
      </div>
      <a href="#" class="pull-right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil "></i></a>
      <ul class="dropdown-menu">
        <li>
         <%=link_to "Edit", edit_post_path(@post.id) , id: "btn-edit#{@post.id}" , remote: true%>
        </li>
        <li id = "make_private<%= @post.id %>">
          <%= link_to "<i class='fa fa-eye-slash'></i> Make Private".html_safe, make_private_post_path(@post.id), remote: true %>
        </li>
        <li>
           <%= link_to "Delete Post" , post_path(@post.id), remote:true, method: :delete, confirm: "Are you sure?" %>
        </li>
      </ul>

    </div>
   
    <div class="info">
     <p id="post_title_text<%= @post.id %>"> <%= @post.title %> </p>
     <div id="update_post<%= @post.id %>" class="quick-update" style="display:none;">
        <%= form_for(@post, remote: true) do |f| %>
          <div class="input-group no-shadow update-form">
            <%= f.text_area :title  , placeholder: "Write something" %>
            
            <%= f.hidden_field :to_account_id , value: @account.id %>       
          </div><!-- /input-group -->
          <span class="bottom-control">
            <%= f.submit "Update" , class: "uptd-btn" %>
            <%= link_to "Cancel", "javascript:void(0)" , class: "cancel-btn", onclick: "hideEditForm('#{@post.id}')" %>
          </span>
               
        <% end %>
      </div>
    </div>
   <div id="comment<%=@post.id%>" style="overflow:auto;max-height:200px;"></div>
     <%= form_for ([@post, @post.comments.new]), remote: true do |f| %>
      <div class="input-group no-shadow postnow-comment">
        <ul>
           <li>
            <div>
              <%= link_to (image_tag current_user.account.display_image_profile, width:30, height:30), social_user_path(current_user.account.id), remote: true  %>
            </div>
          </li>
          <li>
            <div>
              <%= f.text_area :title, id: "comment_box#{@post.id}", placeholder: "Add comment to this entry" %>
              <%= hidden_field_tag :to_account , @account.id %>
            </div>
          </li>
          <li style="position:relative; float:right;">
            <%= f.submit " ", class: "commitnow" %>
          </li>
        </ul>
      <span class="input-group-btn">
        <%= hidden_field_tag :r_user , @account.id %>
      </span>
    </div><!-- /input-group -->
      <% end %>
    </div>
</article>

<%= javascript_tag do %>
  function hideEditForm(id) {
    $("#update_post"+id).hide();
    $("#post_title_text"+id).show();
  }
  
<% end %>
  


