<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Circle</h4>
    </div>
    <%= simple_form_for(@circle, remote: true, :html => { :method => :post }) do |f| %>
      <div class="modal-body">
          <p style="display:none;" class="alert alert-warning" id="error_msg"></p>
          <p style="display:none;" class="alert alert-success"></p>
                    
          <div class ="row-fluid">
            <div class="span12" id="main_content">
              <%if @circle.errors.any? %>
                <% @circle.errors.full_messages.each do |msg| %>
                  <div class="alert alert-warning">
                    <%= msg %>
                  </div>
                <% end %>
              <% end %>
              <p>
                <%= f.label :name %><br />
                <%= f.text_field :name, class: "form-control" %>
              </p>
              
                <p>
                  <%= f.label :to, "Add user to circle" %><br />
                  <% @connections.each do |connection| %>
                    <input type="checkbox" name="connections[]" value="<%=(connection.to_account_id == current_user.account.id) ? connection.from_account_id : connection.to_account_id %>"><%=(connection.to_account_id == current_user.account.id) ? connection.from_account.display_name : connection.to_account.display_name %>
                  <% end %>
                </p>
                <p><%= f.submit :Save %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
<script>
	$(function() {
  $("#circle_user_tokens").tokenInput("/messages/to_user.json", {
  	propertyToSearch : "email",
    crossDomain: false,
    prePopulate: $("#circle_user_tokens").data("load"),
    theme: "facebook"
  });
});
</script>

